/* Variables */
:root {
    --blanchedalmond: blanchedalmond;
    --main-font: Arial, Helvetica, sans-serif;
  }
  
  /* General styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
  }
  
  /* Page header */
  .page_header {
    text-align: center;
    padding: 1.4rem 0;
    background-color: var(--blanchedalmond);
  }

  button {
  display: block;
  margin-left: 0;
  margin-right: auto;
  margin-top: 50px;
}

    .scrollable {
    position:relative;
      display: block;
  margin-left: 0;
  margin-right: auto;
    width: 400px;
  height: 250px;
  text-color:black;
  font-size: 15;
  overflow: auto;
  background: #D3D3D3;
  border-style: solid;
  border-color: black;
  overflow: auto;
  color: #fff;
    }
  
  .page_header input[type=text] {
    float: left;
    padding: 1px;
    border: inset;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* Timeline */
  .timeline_wrapper {
    max-width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
  }
  
  .timeline {
    height: .15rem;
    padding: 0 6rem;
    list-style-type: none;
    background-color: black;
    --scale: 1;
    display: flex;
  }
  
  .timeline li {
    position: relative;
    width: 10rem;
  }
  
  .timeline li::before,
  .timeline li::after,
  .timeline li .title,
  .data {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: 0.3s ease;
  }
  
  .timeline li::before {
    display: inline-block;
    content: "";
    width: 0.12rem;
    height: 1rem;
    color: black;
  }
  
  .timeline li:nth-child(even)::before {
    top: -1rem;
  }
  
  .timeline li::after {
    content: attr(data-date);
    top: -3.4rem;
    background-color: white;
    padding: 0 2px;
  }
  
  .timeline li:nth-child(odd)::after {
    top: 3.4rem;
  }
  
  
  .timeline li .title {
    top: 2.4rem;
    opacity: 0;
  }
  
  .timeline li:nth-child(odd) > .title {
    top: -2.4rem;
  }
  
  .timeline li:hover .title {
    opacity: 1;
  }
  
  .data {
    width: 1.3rem;
    height: 1.3rem;
    color: black;
    background-color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
  }
  
  .timeline li:hover .data {
    z-index: 200;
    cursor: pointer;
    background-color: var(--blanchedalmond);
    --scale:1.4
  }
  
  .data.show {
    width: 22rem;
    height: 22rem;
    border-radius: 1rem;
    padding: 1rem;
    background-image: radial-gradient(var(--blanchedalmond), var(--blanchedalmond));
    z-index: 100;
  }
  
  .data p {
    margin-left: 2rem;
  }
  
  .data.show p {
    margin-left: 0;
  }
  
  .data .textlink {
    background-color: aliceblue;
    align-self: flex-start;
    padding: .4rem .6rem;
    border-radius: 1rem;
  }

  